
.results-type input {
    width: 15px;
    height: 15px;
    float: left;
    margin-right: 5px !important;
}

.question {
    border: 1px solid gainsboro;
    padding: 15px 0px 0px;
    border-radius: 4px;
    margin-bottom: 15px;
}

.help-area {
    min-height: 300px;
    border: 1px solid gainsboro;
    border-radius: 3px;
    padding: 1px 4px;
}

.close-help {
    float: right;
    line-height: 20px;
    color: cornflowerblue;
    cursor: pointer;
}

.close-help:hover {
    color: red;
}

.help-text {
    text-align: justify;
    padding: 0px 5px;
    margin-top: 10px;
    font-size: 13px;
}

.open-help {
    color: cornflowerblue;
    font-size: 20px;
    cursor: pointer;
}

.open-help:hover {
    color: blueviolet;
}

.popover {
    width: 500px;
}

.assessment-save {
    display: block;
    padding-top: 3%;
    padding-bottom: 3%;
}
.assessment-save ul{
  background-color: lightgray;
  padding:0px;
}

.assessment-save ul li{
    background-color: #6495ed;
    margin: 5px;
    padding:10px;
    border-radius: 5px;
    cursor: pointer;
    color: white;
    /*height: 60px;*/
}

.assessment-save ul li a{
  color:white;
}

.assessment-save ul li label{
    color:white;
    font-size: 17px;
    cursor:pointer;
}

.assessment-save ul li ul{
 padding:2px;
}

.assessment-save ul li ul li{
    background:none;
    border-radius: 0px;
    cursor:pointer;
    padding-bottom: 10px;

}
.assessment-save ul li ul li:first-child{
    background:#a9a9a9;
    color: #000000;
    padding: 23px;
    padding-top: 7px;
    border-radius: 5px;

}

.assessment-save ul li ul li:not(:first-child){
    padding-top:5px;
    padding-bottom: 17px;

}

.assessment-save ul li ul li:hover{
    background-color:#a9a9a9 ;
}
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.switch input {display:none;}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
    background-color: #2196F3;
}

input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}
.design-innerr{
    background-color: lightgrey;
    padding-left: 3%;
    padding-right: 3%;
    padding-top: 10px;
    height: 102%;
    text-align: center;
    display: flex;
    -webkit-display:flex;
    -webkit-flex-direction:column;
    flex-direction: column;
    -webkit-align-items:center;
    align-items: center;
}
.assessment-question-box{
    display:flex;
    -webkit-display:flex;
    flex-direction: row;
    align-items: flex-start;
    padding:5px;
}
.assessment-page-title{
    background-color: cornflowerblue;
    color: white;
    /*height: 100px;*/
    padding:3%;
    /*display:flex;
    -webkit-display:flex;
    flex-direction: row;
    -webkit-flex-direction:row;
    -webkit-align-items:flex-start;
    align-items: flex-start;*/

}
.assessment-logo{
    /*border: 1px #000000 solid;*/
    height: 69px;
    /*text-align: center;*/
    /*padding-top: 11px;*/
}

.assessment-desc{
    text-align: center;
    background-color:lightgrey;
    /*margin: 5px;*/
}
.assessment-desc.page-area{
    height: auto;
    background-color: lightgray;
    display:flex;
    -webkit-display:flex;
    flex-direction: column;
    align-items: center;
    -webkit-align-items:center;

    /*margin: 2%;*/
    /*width: 96%;*/
    /*border: 1px black double;*/
}
.page-area-child.page-area{
    /*padding:1px;*/
    background-color: lightgray;
    height:265px;
    /*overflow:scroll;*/
    overflow-x:hidden;

}

.assessment-footer{
    height: 50px;
    width: 100%;
   /* display:flex;
    -webkit-display:flex;
    flex-direction: column;
    align-items: center;
    -webkit-align-items:center;
   */
    background-color: coral;
    color:white;
    font-size: 15px;
    margin-top: auto;
    /*margin-top: 39px;*/
}

.assessment-save .message {
    margin-bottom: 60px;
    font-family: Calibri;
    font-size: 15px;
}
.assessment-font-color{
    height:35px;
    width:35px;
    background: url('images/select2.png') no-repeat;
    background-color: black;
}
.assessment-axis-result{
    display: flex;
    display:-webkit-flex;
    flex-direction: row;
    -webkit-flex-direction:row;
    flex-wrap:wrap;
    -webkit-flex-wrap:wrap;
}

.progress{
    margin-bottom: 8px;
    margin-left: 13px;
    margin-right: 8px;
    padding: 0;
    width: 96%;
    margin-top:10px;
}

.as-build {
    display: none;
}

.as-build.active {
    display: block;
}

.as-build.active .as-control {
    padding: 7px;
    border: 1px solid grey;
    border-radius: 3px;
    margin-bottom: 15px;
}

.as-build.active .as-questions {
    padding: 0;
}

.as-build.active .as-questions .as-question, .as-build.active .as-questions .as-edit {
    padding: 10px;
    margin-top: 8px;
    background-color: gainsboro;
    border-radius: 4px;
    margin-bottom: 8px;
    border: 1px solid #a9a9a9;
}

.as-build.active .as-questions .as-edit .as-answers {
    margin-bottom: 10px;
    padding: 0;
    margin-top: 30px;
}

.as-build.active .as-questions .as-edit .as-answers .as-answer {
    padding: 0;
}

.as-build.active .as-questions .as-edit .as-answers .as-answer {
    margin-bottom: 5px;
}

.as-build.active .as-review {
    padding: 0px;
}

.as-build.active .as-review .as-title {
    padding: 0px;
    text-align: center;
    margin: 0px 0px 30px;
}

.as-build.active .as-review .as-go {
    padding: 7px;
    background-color: gainsboro;
    border: 1px solid;
    min-height: 50px;
    margin-bottom: 5px;
}

.as-build.active .as-review .as-go span {
    padding: 7px;
}

.as-build.active .as-review .as-go button {
    float: right;
}
.as-build.active .as-delivery {
    padding: 0;
    display: none;
}
.as-build.active .as-delivery.active {
    display: block;
}
#eleven >li> .as-resultss{
    padding:0px;

    display:none;
}
#eleven >li> .as-resultss.active{
    display:block;

}

.as-build.active .as-delivery.active .as-delivery-icons{
    padding: 0px;
    display: flex;
    -webkit-display:flex;
    flex-direction: column;
    -webkit-flex-direction:column;
    align-items: center;
    -webkit-align-items:center;
    margin-top: 1%;
    cursor: pointer;
}
.as-build.active .as-delivery.active .as-delivery-icons .as-web-link{
    padding: 0px;
    display: flex;
    -webkit-display:flex;
    flex-direction: row;
    -webkit-flex-direction:row;
}

.as-build.active .as-delivery.active .as-delivery-icons .as-web-pops .box-content{
    align-items: flex-start;
    padding: 2px;
    display: flex;
    margin-top: 3%;
}

.as-build.active .as-delivery.active .as-delivery-icons .as-web-pops {
    background-color: #4471c4;
    padding:5px;
    box-shadow: 0 9px 3px 5px grey;
    -webkit-box-shadow: 0 9px 3px 5px grey;
    -moz-box-shadow: 0 9px 3px 5px grey;

}
.as-build.active .as-scoring {
    padding: 0;
    display: none;
}

.as-build.active .as-scoring.active {
    display: block;
}

.as-build.active .as-scoring.active .as-scores {
    padding: 0;
}

.as-build.active .as-scoring.active .as-scores .as-title {
    padding: 0px;
    text-align: center;
    margin-bottom: 35px;
    margin-top: 0;
}

.as-build.active .as-scoring.active .as-scores .as-table {
    text-align: center;
    max-height: 200px;
    border: 1px solid grey;
    padding: 30px 0px !important;
    border-radius: 2px;
    background-color: whitesmoke;
}

.as-build.active .as-scoring.active .as-scores .as-table .as-head {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
}

.as-build.active .as-scoring.active .as-scores .as-table .as-row {
    font-size: 17px;
}

.as-build.active .as-scoring.active .as-axis-scores {
    padding: 0;
    display: none;
}

.as-build.active .as-scoring.active .as-axis-scores.active {
    display: block;
}

.as-build.active .as-scoring.active .as-axis-scores .as-head {
    margin-bottom: 30px;
    padding: 0px;
}

.as-build.active .as-scoring.active .as-axis-scores .as-head h3 {
    padding: 0px;
    margin: 13px 0px;
}

.as-build.active .as-scoring.active .as-axis-scores .as-header {
    text-align: center;
    padding: 0px;
}

.as-build.active .as-scoring.active .as-axis-scores .as-score-questions {
    padding: 0px;
}

.as-build.active .as-scoring.active .as-axis-scores .as-score-questions .as-score-question {
    padding: 0px;
    margin-top: 20px;
}

.as-build.active .as-scoring.active .as-axis-scores .as-score-questions .as-score-question .as-content {
    padding: 5px;
    background-color: lightgoldenrodyellow;
}

.as-build.active .as-scoring.active .as-axis-scores .as-score-questions .as-score-question .as-content.scored {
    background-color: greenyellow;
}

.as-build.active .as-scoring.active .as-axis-scores .as-score-questions .as-score-question .as-content p {
    padding: 0px;
}

.as-step {
    margin-bottom: 10px;
    height: 30px;
    /*padding: 0;*/
    display: flex;
    display:-webkit-flex;
    flex-direction: row;
    -webkit-flex-direction:row:
    align-items:flex-start;
    padding-left:15px;

}

.as-step.selected .number {
    background-color: cornflowerblue;
    color: white;
    border-color: cornflowerblue;
}

.as-step.selected .title {
    color: cornflowerblue;
    white-space: nowrap;
}

.as-step .help {
    color: silver;
    cursor: pointer;
    line-height: 25px;
}

.as-step .help:hover {
    color: cornflowerblue;
    cursor: pointer;
}

.as-step .number:hover {
    background-color: cornflowerblue;
    color: white;
    border-color: cornflowerblue;
}

.as-step .title:hover {
    color: cornflowerblue;
}

.as-step .number {
    height: 25px;
    width: 25px;
    text-align: center;
    border: 1px solid gainsboro;
    border-radius: 100%;
    float: left;
    padding: 1px 0px;
    color: gray;
    cursor: pointer;
}

.as-step .title {
    line-height: 25px;
    color: grey;
    cursor: pointer;
    font-size: 14px;
    padding: 0px 0px 0px 3px;
    width:110px;
}

.as-builds .as-build.active .as-scoring.active .as-question-editor-advanced {
    padding: 0;
}

.as-builds .as-build.active .as-scoring.active .as-question-editor-advanced .as-title {
    text-align: center;
    padding: 0px;
    margin: 25px 0px;
}

.as-builds .as-build.active .as-scoring.active .as-question-editor-advanced .as-content {
    background-color: gainsboro;
    padding: 10px 0px 0px 0px;
    border-radius: 2px;
    border: 1px solid gray;
}

.as-builds .as-build.active .as-scoring.active .as-question-editor-advanced .as-content .as-question-edit {
    margin-bottom: 5px;
}

.as-builds .as-build.active .as-scoring.active .as-question-editor-advanced .as-content .as-question-edit .as-number {
    padding-left: 0px;
}

.as-builds .as-build.active .as-scoring.active .as-question-editor-advanced .as-content .as-head span {
    padding: 0px;
}

.as-builds .as-build.active .as-scoring.active .as-question-editor-advanced .as-content .as-answers {
    margin-bottom: 20px;
    padding: 0px;
}

.as-builds .as-build.active .as-scoring.active .as-question-editor-advanced .as-content .as-answers .as-answer-edit {
    padding: 0px;
    margin-bottom: 3px;
}

.as-builds .as-build.active .as-scoring.active .as-question-editor-advanced .as-content .as-foot .as-notes {
    padding: 0px;
    text-align: justify;
}

.as-builds .as-build.active .as-scoring.active .as-question-editor-advanced .as-content .as-foot .as-notes p {
    padding: 0px;
}

.as-steps.as-main {
    border-bottom: 1px solid gainsboro;
    margin-bottom: 30px;
    padding: 0;
    display:flex;
    display:-webkit-flex;
    flex-wrap: wrap;
    -webkit-flex-wrap:wrap;
}

.as-builds .as-build-6 .as-matrixes .as-matrix {
    display: none;
}

.as-builds .as-build-6 .as-matrixes .as-matrix.active {
    display: block;
}

.as-builds .as-build-6 .as-matrixes .as-matrix-1 .as-points {
    text-align: center;
    border: 1px solid grey;
}

.as-builds .as-build-6 .as-matrixes .as-matrix-1 .as-points .as-head {
    font-weight: bold;
}

.as-builds .as-build-6 .as-matrixes .as-matrix-1 h5 {
    font-weight: bold;
    text-align: center;
    margin-top: 60px;
    margin-bottom: 10px;
}

.as-builds .as-build-6 .as-matrixes .as-matrix-1 .as-abbreviations .as-abbreviation {
    margin-top: 5px;
    background-color: #dcdcdc;
    padding: 5px;
}

.as-builds .as-build-6 .as-matrixes .as-matrix-1 .as-abbreviations .as-abbreviation .as-control {
    text-align: center;
    margin: 0;
}

.as-builds .as-build-6 .as-matrixes .as-matrix-1 .as-abbreviations .as-abbreviation .as-control .glyphicon-plus {
    color: green;
    vertical-align: middle;
    cursor: pointer;
    margin-right: 5px;
}

.as-builds .as-build-6 .as-matrixes .as-matrix-1 .as-abbreviations .as-abbreviation .as-control .glyphicon-remove {
    color: red;
    vertical-align: middle;
    cursor: pointer;
}

.as-builds .as-build-6 .as-matrixes .as-matrix-1 .as-abbreviations .as-abbreviation .as-control .glyphicon:hover {
    color: white;
}

.as-builds .as-build-6 .as-matrixes .as-matrix-1 .as-control {
    text-align: right;
    margin-top: 70px;
    margin-bottom: 10px;
    border: none;
    padding: 0;
}

.as-builds .as-build-6 .as-matrixes .as-matrix-1 .as-control button {
    width: 100px;
}

.as-builds .as-build-6 .as-matrixes .as-matrix-2 h4 {
    text-align: center;
    font-weight: bold;
}

.as-builds .as-build-6 .as-matrixes .as-matrix-2 .as-block {
    padding: 10px;
    border-top: 1px solid grey;
    border-radius: 2px;
    margin-bottom: 30px;
}

.as-builds .as-build-6 .as-matrixes .as-matrix-2 .as-block .as-results span {
    border: 1px solid grey;
    padding: 5px 10px;
    margin-right: 3px;
}

.as-builds .as-build-6 .as-matrixes .as-matrix-3 h4 {
    text-align: center;
    font-weight: bold;
}

.as-builds .as-build-6 .as-matrixes .as-matrix-3 .as-points {
    text-align: center;
    border: 1px solid grey;
}

.as-builds .as-build-6 .as-matrixes .as-matrix-3 .as-points .as-head {
    font-weight: bold;
    text-decoration: underline;
}

.as-builds .as-build-6 .as-matrixes .as-matrix-3 .as-control {
    text-align: right;
    margin-top: 70px;
    margin-bottom: 10px;
    border: none;
    padding: 0;
}

.as-builds .as-build-6 .as-matrixes .as-matrix-3 .as-control button {
    width: 100px;
}

.as-builds .as-build-6 .as-matrixes .as-matrix-3 h5 {
    text-align: center;
    font-weight: bold;
    text-decoration: underline;
    margin-top: 50px;
    margin-bottom: 25px;
}

.as-builds .as-build-6 .as-matrixes .as-matrix-3 .as-table {
    text-align: center;
}

.as-builds .as-build-6 .as-matrixes .as-matrix-3 .as-table input {
    width: 100%;
    text-align: center;
}

.as-builds .as-build-6 .as-matrixes .as-matrix-3 .as-table .as-col {
    border: 1px solid grey;
}

.as-builds .as-build-6 .as-matrixes .as-matrix-3 .as-abbreviations .as-abbreviation {
    background-color: gainsboro;
    padding: 5px;
}

.as-builds .as-build-6 .as-matrixes .as-matrix-3 .as-abbreviations .as-abbreviation span {
    background-color: white;
    text-align: center;
    cursor: pointer;
    height: 25px;
    padding: 2px;
}

.as-builds .as-build-6 .as-matrixes .as-matrix-3 .as-abbreviations .as-abbreviation span:hover {
    background-color: skyblue;
}
.score-box{
    display: flex;
    -webkit-display:flex;
    flex-direction: row;
    -webkit-flex-direction:row;

}
.play-icon{
    height: 50px;
    width:53px;
    padding: 10px;
    background: #488fb5;
    color:white;
    display:flex;
    display:-webkit-flex;
    flex-direction: column;
    -webkit-flex-direction:column;
    text-align:center;
    margin-top: -6px;
    border-radius: 5px;
    cursor: pointer;
}
.theme-box{
    display:flex;
    display:-webkit-flex;
    flex-direction: row;
    -webkit-flex-direction:row;
    align-items:flex-start;
    padding:2px;
    flex-wrap: wrap;
    -webkit-flex-wrap:wrap;
/*
    height:322px;
    overflow:scroll;
    overflow-x:hidden
*/

}
.theme-item{
    display:flex;
    display:-webkit-flex;
    flex-direction: column;
    -webkit-flex-direction:column;
    align-items:center;
    border:1px black solid;
    border-radius: 2px;
    height:auto;
    background-color: white;
    width:31%;
    margin: 3px;
}
.theme-footer{
    display:flex;
    display:-webkit-flex;
    flex-direction: row;
    -webkit-flex-direction:row;
    align-items:flex-start;
    padding:2px;

    margin-top: auto;
    height: 30px;
    width:100%;
    background-color: lightgray;
}
.theme-body{
    display:flex;
    display:-webkit-flex;
    flex-direction: column;
    -webkit-flex-direction:column;
    align-items:center;
    width:59%;
    margin: 8px;
    text-align: center;
    border: 1px black solid;

}
.selected-item{
    /*top: 19%;*/
    width: 30px;
    position: absolute;
    height: 30px;
    margin-left: 29px;
    background-color: black;
    color:white;
    border-bottom-left-radius: 9px;
    text-align: center;
    padding-top: 5px;
    display:none;
}

.assessment-setting-container {
    display:flex;
    display:-webkit-flex;
    flex-direction: row;
    -webkit-flex-direction:row;
    align-items: flex-start;
    -webkit-align-items:flex-start;
    flex-wrap: wrap;
    -webkit-flex-wrap:wrap;
    padding:5px;
}

.assessment-setting-items{
    display:flex;
    display:-webkit-flex;
    flex-direction: row;
    -webkit-flex-direction:row;
    align-items: flex-start;
    -webkit-align-items:flex-start;
    margin: 5px;
    flex-wrap: wrap;
    -webkit-flex-wrap:wrap;


}
.assessment-setting-header{
    display:flex;
    display:-webkit-flex;
    flex-direction: row;
    -webkit-flex-direction:row;
    margin-right: 20px;
    width:100%;
}

.assessment-setting-body{
    display:flex;
    display:-webkit-flex;
    flex-direction: row;
    -webkit-flex-direction:row;
    align-items: flex-start;
    -webkit-align-items:flex-start;
    margin-right:20px;
    width:100%;
}

.assessment-title-container{
    display:flex;
    display:-webkit-flex;
    flex-direction: column;
    -webkit-flex-direction:column;
    align-items: flex-start;
    -webkit-align-items:flex-start;
    padding:5px;
}

.assessment-layout-container{
    display:flex;
    display:-webkit-flex;
    flex-direction: column;
    -webkit-flex-direction:column;
    align-items: flex-start;
    -webkit-align-items:flex-start;
    padding:5px;
}
.assessment-layout-header{
    display:flex;
    display:-webkit-flex;
    flex-direction: row;
    -webkit-flex-direction:row;
    align-items: flex-start;
    -webkit-align-items:flex-start;
    margin-top: auto;

}
.assessment-layout-main{
    display:flex;
    display:-webkit-flex;
    flex-direction: column;
    -webkit-flex-direction:column;
    align-items: flex-start;
    -webkit-align-items:flex-start;
    margin-top: auto;

}
.layout-checkbox{
    display:flex;
    display:-webkit-flex;
    flex-direction: row;
    -webkit-flex-direction:row;
    align-items: flex-start;
    -webkit-align-items:flex-start;
}

.assessment-setting-logo{
    display:flex;
    display:-webkit-flex;
    flex-direction: column;
    -webkit-flex-direction:column;
    align-items: center;
    -webkit-align-items:center;
    text-align:center;
    padding:5px;

}
.assessment-setting-logo-btn{
    display: flex;
    flex-direction: row;
    -webkit-flex-direction:row;
    justify-content: center;
    margin: 0;
    display:-webkit-flex;
    padding: 5px;
    margin:5px;
}

.active.selected-item{
    display:block;
}
.theme-body-contentt{
    width:100%;
    height: 20px;
    background-color: blue;
}
.theme-body-title.theme-body-contentt{
    /*background-color: lightblue;*/
}

.theme-body-page.theme-body-contentt{
    /*background-color: lightgray;*/
    height: 13px;
    margin: 4px;
    width: 85%;
}

#cke_1_contents{
    height:100px !important;
}
.colorpicker{
    width:211px !important;
}

.slider-f{
    display:block;
}
.main-containerr{
    padding: 0px;
    display:flex;
    display:-webkit-flex;
    flex-direction: column;
    -webkit-flex-direction:column;
    align-items: center;
    -webkit-align-items:center;
}
